body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 17px;
}
.Tip {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#Arte {
  position: relative;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
}
#Entre {
  position: absolute;
  top: 45%;
  left: 69%;
  transform: translate(-50%, -50%);
}
#Flor {
  position: absolute;
  top: 65%;
  left: 70%;
  transform: translate(-50%, -50%);
}
#Musica {
  position: absolute;
  top: 69.5%;
  left: 52%;
  transform: translate(-50%, -50%);
}
#Rosca {
  position: absolute;
  top: 69%;
  left: 45%;
  transform: translate(-50%, -50%);
}
#Auto {
  position: absolute;
  top: 60%;
  left: 41%;
  transform: translate(-50%, -50%);
}
#Dinero {
  position: absolute;
  top: 45%;
  left: 41%;
  transform: translate(-50%, -50%);
}
#Molecula {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}
